{% extends "base.html "%}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invites List</title>
</head>
<body>
    <h1>Porfil Listesi</h1>
    <ul>
    {% for item in qs %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
</body>
</html>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

{% endblock content %}