{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Yenile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>



<body>
    <div class="row" style="padding-bottom: 18px;">
        <div class="col-md-9 offset-md-2">
            <h3>Post Yenile</h3> 
            <form method="POST" enctype="multipart/form-data"><!-- enctype = multplart/form-datadan ve ancag method="post" olanda isleyir bu metod sekil filan yukleyenden istifade olunur form vaistesile ona gore yazmagi unutma hec bir zaman multipart/form-datani-->
                {% csrf_token %}
                {{ form.media }}<!-- Burda form.media ckeditoru temsil edit gedib setting.py dan cagirir form.media seklinde -->
                {{ form|crispy }}
                {% if post.author.user == request.user %}
                    <button type="submit" class="btn btn-primary btn-lg">Yenile</button>
                {% else %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="marker">Yenile</button>
                {% endif %}
            </form>
        </div>
    </div>

<script>
    $(document).ready(function(){
        $('#marker').click(function(){
            alert('Bu Postu Yenileme Haqqiniz Yoxdur')//eger post sahibinden basqasi url bilib yenilemek isteyerse postu
        })
    })
</script>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

</html>
{% endblock content %}